.App {
  text-align: center;
  font-family: Lato,sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Formulário de progresso  */
ol.progress[data-steps="2"] li {
  width: 15%;
}
ol.progress[data-steps="3"] li {
  width: 15%;
}
ol.progress[data-steps="4"] li {
  width: 20%;
}
ol.progress[data-steps="5"] li {
  width: 20%;
}

.progress {
  width: 100%;
  list-style: none;
  list-style-image: none;
  margin: 20px 0 20px 0;
  padding: 0;
}
.progress li {
  float: left;
  text-align: center;
  position: relative;
}
.progress .name {
  display: block;
  vertical-align: bottom;
  text-align: center;
  margin-bottom: 1em;
  color: black;
  opacity: 0.3;
}
.progress .step {
  color: black;
  border: 3px solid silver;
  background-color: silver;
  border-radius: 50%;
  line-height: 1.2;
  width: 1.2em;
  height: 1.2em;
  display: inline-block;
  z-index: 0;
}
.progress .step span {
  opacity: 0.3;
}
.progress .active .name,
.progress .active .step span {
  opacity: 1;
}
.progress .step:before {
  content: "";
  display: block;
  background-color: silver;
  height: 0.4em;
  width: 50%;
  position: absolute;
  bottom: 0.6em;
  left: 0;
  z-index: -1;
}
.progress .step:after {
  content: "";
  display: block;
  background-color: silver;
  height: 0.4em;
  width: 50%;
  position: absolute;
  bottom: 0.6em;
  right: 0;
  z-index: -1;
}
.progress li:first-of-type .step:before {
  display: none;
}
.progress li:last-of-type .step:after {
  display: none;
}
.progress .done .step,
.progress .done .step:before,
.progress .done .step:after,
.progress .active .step,
.progress .active .step:before {
  background-color: #93c3f2;
}
.progress .done .step,
.progress .active .step {
  border: 3px solid #93c3f2;
}
.row{
  border: 2px solid #282c34;
  margin: 40px auto 20px;
  float:left;
  margin-left:120px;
  width: 500px;
}
.card {
  /* padding: 18px 18px 24px;
  width: 640px; */
  text-align: left;
  text-decoration: none;  
}
.card:hover {
  border-color: #067df7;
}
.controlePagina{  
  height:800px;
}
.contBtn{
  border:solid 1px red;
}
.controlePagina{    
  min-height: 1200px;  
  
}
.btn {
  background: #067df7;
  border: solid 1px #315c88;
  height: 45px;
  float:left;
  margin-left:10px;  
  border-radius: 10px;
}

.btn .blue{  
  height: 45px;
  float:left;
  margin-left:10px;  
  border-radius: 10px;
  background: #067df7;
  border: solid 1px #315c88;
}

/* efeito quando ponteiro do mouse fica sobre o btn */
.blue:hover{
  background: #7bafe2;
  border: solid 1px #315c88;  
}
/* botão proximo  */
.btn .prox{
  float: left;
  margin-top:40px;  
  margin-right: 100px;
}
/* botão anterior */
.btn .ant {
  float: left;
  margin-left: 200px;
}

.btn .comprar{
  background: #77cc46;
}
/* controla botões do cabecalho */
.cont_btn{
  background: blue;
  text-align: center;
  width: 180px;
  margin: 0 auto;  
}
.cont_cabecalho{
  widows: 100%;  
  height: 50px;;
  border-bottom: 2px solid #282c34;
}

/* pagina de finalização de pedido */
.finaliza_pedido{
  
}
.btn.remover {
  text-decoration: none;
  background: #f94545;
  font-size: colo;
  color: white;
}
.btn.comprar {
  background: #4ee84e;
  border: solid 1px #3da055;
}

.selecionado {
  background-color: #067df7;
}